In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns
from sklearn.datasets import load_iris

In [2]:
from sklearn.model_selection import train_test_split
from sklearn.svm import SVC
from sklearn.metrics import accuracy_score,classification_report,confusion_matrix

In [3]:
df = pd.read_csv(r"C:\Users\91779\Desktop\iris_django_pro\iris.csv")

In [4]:
df.describe()

       sepal_length  sepal_width  petal_length  petal_width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.054000      3.758667     1.198667
std        0.828066     0.433594      1.764420     0.763161
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

In [5]:
df.head()

   sepal_length  sepal_width  petal_length  petal_width classification
0           5.4          3.7           1.5          0.2    Iris-setosa
1           4.8          3.4           1.6          0.2    Iris-setosa
2           4.8          3.0           1.4          0.1    Iris-setosa
3           4.3          3.0           1.1          0.1    Iris-setosa
4           5.8          4.0           1.2          0.2    Iris-setosa

In [6]:
df.columns

Index(['sepal_length', 'sepal_width', 'petal_length', 'petal_width',
       'classification'],
      dtype='object')

In [8]:
X = df[['sepal_length','sepal_width', 'petal_length', 'petal_width']]
Y = df['classification']

In [9]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.20, random_state=1)

In [10]:
model = SVC(gamma='auto')
model.fit(X_train,Y_train)

SVC(gamma='auto')

In [11]:
predictions = model.predict(X_test)

### Accuracy score

In [12]:
print(accuracy_score(Y_test,predictions))

0.9666666666666667

### Create a pickle file

In [13]:
import pickle

In [14]:
pd.to_pickle(model,r"C:\Users\91779\Desktop\iris_django_pro\new_iris.pickle")

### load a pickle file

In [15]:
model = pd.read_pickle(r"C:\Users\91779\Desktop\iris_django_pro\new_iris.pickle")

In [16]:
sepal_length = float(input("Enter sepal_length: "))
sepal_width = float(input("Enter sepa_width: "))
petal_length = float(input("Enter petal_length: "))
petal_width = float(input("Enter petal_width: "))

Enter sepal_length: 5.5
Enter sepa_width: 8.4
Enter petal_length: 3.6
Enter petal_width: 4.4

In [26]:
result = model.predict([[sepal_length,sepal_width,petal_length,petal_width]])
print(result)

['virginica']